.view {
  width: 100%;
  height: 100%;
  padding: 15px;
  box-sizing: border-box;
  &__carousel {
    width: 65%;
    height: 350px;
    background-color: #5e6fa3;
    &__img {
      width: 100%;
      height: 350px;
      border-radius: 5px;
      overflow: hidden;
      &>img {
        display: block;
        width:100%;
        height: 100%;
      }
    }
  }
  &__echarts{
    display: flex;
    justify-content: space-between;
    &__list{
      width: 100%;
      background-color: red
    }
  }
  #socActNums{
    width:500px;
    height: 300px;
  }
}