.view {
  width: 100%;
  min-width: 1000px;
  height: 100%;
  padding: 15px;
  box-sizing: border-box;
  &__top{
    display: flex;
    justify-content: space-between;
    &__carousel {
      width: 61.8%;
      // min-width: 500px;
      height: 350px;
      // background-color: #5e6fa3;
      overflow: hidden;
      margin-right: 10px;
      .ant-carousel{
        width: 100%;
        height: 100%;
        & div{
          height: 100%;
        }
      }
      &__img {
        display: block;
        width: 100%;
        height: 350px !important;
        border-radius: 5px;
        overflow: hidden;
        &>img {
          display: block;
          width:100%;
          height: 100%;
        }
      }
    }
    &__list{
      width: 35%;
      // min-width: 400px;
      height: 350px;
      background-color: #fff;
      // border: 1px solid #eee;
      border-radius: 5px;
      overflow: auto;
      &__items{
        width: 100%;
        display: flex;
        justify-content: space-between;
        &__name{
          width: 40%;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }
  }
  
  &__echarts{
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-width: 1000px;
  }
  #socActNums{
    flex: 0 1 30%;
    // min-width:450px;
    height: 500px;
  }
  #classPart{
    flex: 1 0 60%;
    // min-width:500px;
    height: 500px;
  }
}