.header {
  width: 100%;
  line-height: 72px;
  background: #fff;
}
.header_title{
  min-width: 396px;
}
.logo{
  width: 200px;
  display: inline-block;
  background: #3e4052;
  text-align: center;
}
.logoImg{
  width: 160px;
  height: 69px;
  vertical-align: middle;
}
.logoText{
  margin-left: 20px;
  font-weight: bold;
  font-size: 18px;
}
.login_info {
  min-width: 396px;
  text-align: right;
}
button {
  margin-left: 20px;
  margin-right: 5px;
}