.modify-act{
  width: 100%;
  padding-top: 50px;
  height: 88vh;
  overflow: auto;
  box-sizing: border-box;
  &__title{
    position: relative;
    font-size: 30px;
    font-weight: 500;
    &__desc{
      text-align: left;
      font-size: 15px;
      padding-left: 10px;
    }
  }
}