.searchBox {
  margin: 0 auto;
  padding: 30px 0 62px;
  border-bottom: 1px dashed #ccc;
  position: relative;
  .condition {
    clear: both;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    .conditionItem {
      display: inline-block;
      float: left;
      margin-right: 46px;
      margin-bottom: 10px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .operate {
    position: absolute;
    bottom: 20px;
    right: 0;
    &.qn-operate {
      right: 120px;
    }
    button {
      margin-left: 10px;
    }
  }
}

input.ant-input {
  width: 240px;
}
.select_content{
  li{
    list-style: none;
    margin-bottom: 25px;
    Input {
      width: 300px;
      margin-left: 10px;
    }
    .select_way {
      margin-left: 10px;
      width: 150px;
    }
  }
}
