.ant-table-wrapper {
  margin: 20px auto;
  background: #fff;
  th, td {
    text-align: center !important;
  }
  .ant-table-thead {
    width: 100%;
  }
  .ant-table-tbody {
    div.operation {
      width: 100%;
      display: flex;
      justify-content: space-around;
    }
  }
}

.ant-pagination {
  text-align: center;
  clear: both;
  overflow: hidden;
  margin: 0 auto 30px;
  .ant-pagination-total-text {
    float: left;
    margin-left: 2px;
  }
}
